<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
     
<div class="w3-top" style=width:100%;>
  <div class="w3-bar  w3-xlarge w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">Fork Infosystems</a>
    <div class="w3-right w3-hide-small">
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"><i class="fa fa-envelope"></i> forkinfosystems@gmail.com</a>
      <a routerLink="about-us" class="w3-bar-item w3-button"><i class="fa fa-user"></i> 7757962804</a>
      
    </div>
  </div>
</div>
      
<div class="w3-top" style=margin-top:5%;width:90%;margin-left:5%;>
  <div class="w3-bar  w3-xlarge w3-white w3-card" id="myNavbar">
   
    <div class="w3-right w3-hide-small">
      <a routerLink="home" class="w3-bar-item w3-button">Home</a>
      <a routerLink="about us" class="w3-bar-item w3-button">About Us</a>
      <a routerLink="gallery" class="w3-bar-item w3-button">Gallery</a>
      <a routerLink="courses" class="w3-bar-item w3-button">Courses</a>
      <a routerLink="placement" class="w3-bar-item w3-button">Placement</a>
      <a routerLink="contact us" class="w3-bar-item w3-button">Contact Us</a>
    </div>
  </div>
</div>
</html>